/build/
/out/
/bin/
/pfc_exp_cli
/.vs/
*.user
*.suo
*.VC.db
*.VC.VC.opendb
*.exe
*.dll
*.dylib
*.so
*.app
*.dmg
*.zip
*.tar.gz
*.deb
*.rpm
*.AppImage
*.log
*.vti
*.pvti
*.cfg
*.dat
*.txt
!CMakeLists.txt
params.json
